body {
  min-height: 100vh;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.7) translateY(-0.5rem) translateX(0.15rem);
}
